body {
    background: url(./texture.jpg);
    font-family:Helvetica;
    color:#B0E0E6;
    font-size:11pt;
}
div {
    border:1px gray;
    border-radius:1000px;
    background-color:#E6E8FA;
    opacity:0.5;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.circle:hover {
    color:white;
    width:+3px;
    height:+3px;
    font-size:13pt;
}
#two {
    position:absolute;
    top: 805px;
    left: 200px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#two p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}
#three {
    position:absolute;
    top: 745px;
    left: 100px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#three p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}
#four {
    position:absolute;
    top: 685px;
    left: 70px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#four p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#five {
    position:absolute;
    top: 625px;
    left: 66px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#five p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#six {
    position:absolute;
    top: 565px;
    left: 80px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#six p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#seven {
    position:absolute;
    top: 505px;
    left: 120px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#seven p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#eight {
    position:absolute;
    top: 445px;
    left: 130px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#eight p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#nine {
    position:absolute;
    top: 385px;
    left: 95px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#nine p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#ten {
    position:absolute;
    top: 325px;
    left: 75px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#ten p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}
#eleven {
    position:absolute;
    top: 265px;
    left: 70px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#eleven p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#twelve {
    position:absolute;
    top: 205px;
    left: 80px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#twelve p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#thirteen {
    position:absolute;
    top: 145px;
    left: 110px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#thirteen p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}#fourteen {
    position:absolute;
    top: 85px;
    left: 170px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#fourteen p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
    }
#fifteen {
    position:absolute;
    top: 25px;
    left: 170px;
    height: 5px;
    width:5px;
    background-color: #7CFC00;
}
#fifteen p{
    position: relative;
    top:-21px;
    left: -50px;
    width: 300px;
}
#ceramic {
    position:absolute;
    top: 720px;
    left: 365px;
    height: 60px;
    width:60px;
    background-color: #DC143C;
}
#ceramic p{
    position: relative;
    left: 200px;
    width: 300px;
}
#ceramic div.line{
    position: relative;
    top: 29px;
    left: 60px;
    height: 1px;
    width: 135px;
    background-color: yellow;
}


#bakery {
    position:absolute;
    top: 500px;
    left: 90px;
    height: 300px;
    width:300px;
    background-color: #FF4500;
}
#bakery p{
    position: relative;
    top: 123px;
    left: 500px;
    width: 300px;
}
#bakery div.line{
    position: relative;
    top: 150px;
    left: 300px;
    height: 1px;
    width: 195px;
    background-color: yellow;
}

#forensic{
    position:absolute;
    top: 405px;
    left: 420px;
    height: 180px;
    width:180px;
    background-color: #EEAD0E;
}
#forensic p{
    position: relative;
    top: 42px;
    left: 390px;
    width: 300px;
}
#forensic div.line{
    position: relative;
    top: 70px;
    left: 180px;
    height: 1px;
    width: 205px;
    background-color: yellow;
}
#bar {
    position:absolute;
    top: 525px;
    left: 590px;
    height: 40px;
    width:40px;
    background-color: #8B008B;
}
#bar p{
    position: relative;
    top:-7px;
    left: 228px;
    width: 300px;
}
#bar div.line{
    position: relative;
    top: 20px;
    left: 42px;
    height: 1px;
    width: 180px;
    background-color: yellow;
}
#chef {
    position:absolute;
    top: 490px;
    left: 350px;
    height: 60px;
    width:60px;
    background-color: #228B22;
}
#chef p{
    position: relative;
    left: 280px;
    width: 300px;
}
#chef div.line{
    position: relative;
    top: 26px;
    left: 63px;
    height: 1px;
    width: 210px;
    background-color: yellow;
}
#office{
    position:absolute;
    top: 75px;
    left: 100px;
    height: 415px;
    width:415px;
    background-color: #008B8B;
}
#office p{
    position: relative;
    top: 180px;
    left: 495px;
    width: 400px;
}
#office div.line{
    position: relative;
    top: 207px;
    left: 420px;
    height: 1px;
    width: 70px;
    background-color: yellow;
}
#art {
    position:absolute;
    top: 70px;
    left: 500px;
    height: 12px;
    width:12px;
    background-color: #006400;
}
#art p{
    position: relative;
    top:-21px;
    left: 220px;
    width: 300px;
}
#art div.line{
    position: relative;
    top: 4px;
    left: 12px;
    height: 1px;
    width: 200px;
    background-color: yellow;
}
#code {
    position:absolute;
    top: -220px;
    left: 180px;
    height: 350px;
    width: 350px;
    background-color: #8B0A50;
}
#code p{
    position: relative;
    top: 304px;
    left: 400px;
    width: 400px;
}
#code div.line{
    position: relative;
    top: 325px;
    left: 275px;
    height: 1px;
    width: 120px;
    background-color: yellow;
}
#DG {
    position:absolute;
    top: -130px;
    left: 500px;
    height: 200px;
    width: 200px;
    background-color: #ff6a00;
}
#DG p{
    position: relative;
    top: 150px;
    left: 400px;
    width: 400px;
}
#DG div.line{
    position: relative;
    top: 172px;
    left: 180px;
    height: 1px;
    width: 210px;
    background-color: yellow;
}
#RG {
    position:absolute;
    top: -62px;
    left: 690px;
    height: 100px;
    width: 100px;
    background-color: #158705;
}
#RG p{
    position: relative;
    top: 53px;
    left: 315px;
    width: 400px;
}
#RG div.line{
    position: relative;
    top: 75px;
    left: 100px;
    height: 1px;
    width: 210px;
    background-color: yellow;
}