body {
	background-color: black;
	margin: 0;
}
div {
	font-family: sans-serif;
}

.header img {
	width: 80%;
	position: center;
}
.header {
	padding: 20px;
}
.background {
	position: absolute;
	bottom: 31px;
	z-index: -11;
}
.blue {
	margin-left: 14%;
}
.red{
	margin-left: 67%;
	margin-top: -88px;
}
.pink {
	margin-left: 46%;
	margin-top: -166px;
}
.purple{
	margin-left: 31%;
	margin-top: -155px;
}

.footer {
	position: fixed;
	bottom: 0px;
	left: -8px;
	width: 100%;
	padding: 5px;
	height:32.5px;
}

